{% extends 'core/base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block nav %}

<div class="navbar-end">
    
    <div class="navbar-end">
        <a href="{% url 'category_detail' post.category.slug %}" class="navbar-item is-size-5 has-text-weight-semibold">
            Back
        </a>   
        <a href="/login/" class="navbar-item is-size-5 has-text-weight-semibold">
            Log out
        </a>
        <a href="{% url 'signup' %}" class="navbar-item is-size-5 has-text-weight-semibold">
            Sign up
        </a>
    </div>
</div>

{% endblock nav %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                {% if post.image %}
                    <figure class="image mb-6">
                        <img src="{{ post.image.url }}">
                    </figure>
                {% endif %}
                
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            
                            <h2 class="subtitle is-4">{{ post.created_at|timesince }} ago</h2>
                            <h1 class="title">{{ post.title }}</h1>
                            <p><strong>{{ post.intro }}</strong></p>
                            <p>{{ post.body }}</p>

                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>

                            <hr>

                            <h2 class="subtitle is-4">Comments</h2>

                            <form method="post" class="mb-6">
                                {% csrf_token %}

                                {{ form.as_p }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success">Submit comment</button>
                                    </div>
                                </div>
                            </form>

                            {% for comment in post.comments.all %}
                                <div class="content is-medium">
                                    <a href="{% url 'comment_detail' post.category.slug post.slug comment.id %}">                
                                        <h2 class="title">{{ comment.name }}</h2>
                                        <p class="subtitle is-4">{{ comment.created_at|timesince }} ago</p>
                                        <h1>{{ comment.body }}</h1>
                                    </a>
                                    {% for reply in comment.replys.all %}
                                        <h2 class="title">{{ comment.name }}</h2>
                                        <p class="subtitle is-4">{{ comment.created_at|timesince }} ago</p>
                                        <h1>{{ comment.body }}</h1>
                                    {% endfor %}                        
                                </div>
                            {% empty %}
                                    <div class="content">
                                        <p>There is no comments in this post...</p>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}